<h2><%= @note.name %></h2>

<div class="content"><%= @note.content %></div>
<br>

<h4>Tags:</h4>

<div class="tags">
<% @note.tags.each do |tag| %>
<%= tag.name %><br>
<% end %>
</div>

<br>
<%= link_to 'Edit', edit_note_path(@note) %>
